<script>
    Vue.component('todo-item', {
        props: ['article'],
        template:
        '<div class="col-md-6" style="margin-top:25px;">' +
            '<a class="card-link" v-bind:href="article.slug"><div class="card" style="height:100%;">' +
                '<div v-if="article.content.heading.background !== null" :style=\'{ backgroundImage: `url(${article.content.heading.background})` }\' class="image-container"></div>' +
                '<div class="card-body">' +
                    '<h4 class="card-title" align="center">{{ article.content.heading.headline }}</h4>' +
                    '<p v-if="article.content.heading.excerpt !== null">{{article.content.heading.excerpt}}</p>' +
                    '<div class="btn btn-link btn-lg btn-block"><span style="border-radius:25px;border:1px solid #eee; padding:5px 20px;">Continue Reading &nbsp;<i class="fas fa-arrow-right fa-xs"></i></span></div>' +
                '</div>' +
            '</a>' +
        '</div>'
    });
    var app7 = new Vue({
        el: '#articles',
        data: {
            items: null
        },
        created: function () {
            var _this = this;
            $.getJSON('/api/items?type=posts&limit=21', function (json) {
                _this.items = json;
            });
        }
    });
</script>