<script>
    var slug = 'home';

    Vue.component('heading', {
        props: ['page'],
        template: '<div>' +
        '<div class="section bg-gradient-blue" :style="{ backgroundImage: `linear-gradient(rgba(0, 20, 119, 0.7), rgba(0, 0, 0, 1)), url(${page.json.heading.background})`, backgroundSize: `cover`, backgroundPosition: `center` }" >' +
        '<div class="space-50"></div>' +
        '<div class="container text-center">' +
        '<div class="row justify-content-md-center" align="center" id="heading-section">' +
        '<div class="col-md-12" style="margin-bottom:0px;margin-top:25px;">' +
        '<h2 class="title" style="width:100%;color:#fff;">{{ page.json.heading.headline }}</h2>' +
        '<p style="margin-left:25px;margin-right:25px;" v-if="page.json.heading.intro !== null">{{ page.json.heading.intro }}</p>' +
        '<a v-if="page.json.heading.button !== null" href="javascript:void(0)" onclick="scrollToMore()" class="btn btn-lg btn-round btn-neutral btn-lg btn-simple" id="engage"> {{ page.json.heading.button }}</a>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>'
    });
    Vue.component('feature1', {
        props: ['page'],
        template:
        '<div class="section" id="more">'+
        '<div class="container text-center">' +
        '<div class="row justify-content-md-center" id="feature1">' +
        '<div class="row" v-if="page.json.feature1.headline !== null">' +
        '<div class="col-md-6">' +
        '<h2 >{{ page.json.feature1.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;">{{ page.json.feature1.message }}</h5>' +
        '<div align="center" v-if="page.json.feature1.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple" v-bind:href="page.json.feature1.link">{{ page.json.feature1.button }}</a></div>' +
        '</div>' +
        '<div class="col-md-6">' +
        '<a href="#" v-bind:href="page.json.feature1.link"><img class=" rounded" :src="page.json.feature1.image" /></a>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>'
    });
    Vue.component('feature2', {
        props: ['page'],
        template: '<div class="row" v-if="page.json.feature2.headline !== null">' +
        '<div class="col-md-6">' +
        '<a href="#" v-bind:href="page.json.feature2.link"><img class=" rounded" :src="page.json.feature2.image" /></a>' +
        '</div>' +
        '<div class="col-md-6">' +
        '<h2>{{ page.json.feature2.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;">{{ page.json.feature2.message }}</h5>' +
        '<div align="center" v-if="page.json.feature2.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple" v-bind:href="page.json.feature2.link">{{ page.json.feature2.button }}</a></div>' +
        '</div>' +
        '</div>'
    });
    Vue.component('feature3', {
        props: ['page'],
        template: '<div class="row" v-if="page.json.feature3.headline !== null">' +
        '<div class="col-md-6">' +
        '<h2 >{{ page.json.feature3.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;">{{ page.json.feature3.message }}</h5>' +
        '<div align="center" v-if="page.json.feature3.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple" v-bind:href="page.json.feature3.link">{{ page.json.feature3.button }}</a></div>' +
        '</div>' +
        '<div class="col-md-6">' +
        '<a href="#" v-bind:href="page.json.feature3.link"><img class=" rounded" :src="page.json.feature3.image" /></a>' +
        '</div>' +
        '</div>'
    });
    Vue.component('feature4', {
        props: ['page'],
        template: '<div class="row" v-if="page.json.feature4.headline !== null">' +
        '<div class="col-md-6">' +
        '<a href="#" v-bind:href="page.json.feature4.link"><img class=" rounded" :src="page.json.feature4.image" /></a>' +
        '</div>' +
        '<div class="col-md-6">' +
        '<h2>{{ page.json.feature4.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;">{{ page.json.feature4.message }}</h5>' +
        '<div align="center" v-if="page.json.feature4.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple" v-bind:href="page.json.feature4.link">{{ page.json.feature4.button }}</a></div>' +
        '</div>' +
        '</div>'
    });
    Vue.component('calltoaction', {
        props: ['page'],
        template: '<div class="row" v-if="page.json.calltoaction.headline !== null">' +
        '<div class="col-md-12">' +
        '<h2>{{ page.json.calltoaction.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;">{{ page.json.calltoaction.message }}</h5>' +
        '<div align="center" v-if="page.json.calltoaction.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple btn-lg" id="cta-button" style="box-shadow:0px 5px 15px rgba(0,0,0,0.2);" v-bind:href="page.json.calltoaction.link">{{ page.json.calltoaction.button }}</a></div>' +
        '</div>' +
        '</div>'
    });
    var page = new Vue({
        el: '.wrapper',
        data: {
            views: ['heading', 'feature1', 'feature1', 'feature3','feature4','calltoaction'],
            items: null
        },
        created: function () {
            var _this = this;
            $.getJSON('/api/page/' + slug + '/random', function (json) {
                _this.items = {"items": json};
                page = {"items": json};
            });
        }
    });
</script>