<script>
    var slug = 'home';

    Vue.component('calltoaction', {
        props: ['page'],
        template:
        '<div class="section" style="background: #6087ff14 !important;margin-top:10px;display:inline-block;width:100%;padding-left:25px;padding-right:25px;"  v-if="page.json.calltoaction.headline !== null">' +
        '<div class="container text-center">' +
        '<div class="row justify-content-md-center" id="calltoaction">' +
        '<div class="row">' +
        '<div class="col-md-12">' +
        '<h2>{{ page.json.calltoaction.headline }}</h2>' +
        '<h5 class="description" style="text-align:left;color:#000;text-align:center;">{{ page.json.calltoaction.message }}</h5>' +
        '<div align="center" v-if="page.json.calltoaction.link !== null"><a class="btn btn-lg btn-round btn-primary btn-simple btn-round btn-lg" v-html="page.json.calltoaction.button" id="cta-button" style="box-shadow:0px 5px 15px rgba(0,0,0,0.2);" v-bind:href="page.json.calltoaction.link">{{ page.json.calltoaction.button }}</a></div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>'
    });
    var page = new Vue({
        el: '.wrapper',
        data: {
            views: ['calltoaction'],
            items: null
        },
        created: function () {
            var _this = this;
            $.getJSON('/api/page/' + slug + '/random', function (json) {
                _this.items = {"items": json};
                page = {"items": json};
            });
        }
    });
</script>